/* App.css */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container for the App */
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Sections Layout */
.section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

/* Flexbox Layout */
.upper-sections {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 10px;
}

.upper-sections > .section {
  flex: 1;
  margin: 10px;
}

.lower-section {
  margin: 10px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

input, select, button {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="text"] {
  width: 100%;
}

select {
  width: 100%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label input[type="checkbox"] {
  margin-right: 5px;
}

/* List Styles */
ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background-color: #dc3545;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 10px;
}

li button:hover {
  background-color: #c82333;
}

li span {
  font-size: 16px;
}
.add-team-section {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.add-team-section h2 {
  margin-bottom: 10px;
}

.add-team-section input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-team-section button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.add-team-section button:hover {
  background-color: #0056b3;
}
